.navbar{
    /* background: rgb(30,30,30); */
    /* background: transparent; */
    height: 4rem;
    width: 100vw;
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}
.navbarMenuItem{
    margin: 1rem;
    cursor: pointer;
}
.navbarMenuItem:hover{
    color: skyblue;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid;
}
.navbarBtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    border-radius: 1rem;
    height: 2rem;
}
.navbarBtnImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}
.active{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.mobDots{
    display: none;
    object-fit: cover;
    height: 1.8rem;
}
.mobMenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
    border-radius: 1rem;
}
.listItem{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
}

@media screen and (max-width:700px) {
    .mobDots{
        display: flex;
    }
    .navbarMenu{
        display: none;
    }
    .navbarBtn{
        display: none;
    }
}